<h2>Image Upload Demo</h2>
<link href="~/Scripts/dropzone/css/basic.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/css/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/dropzone/dropzone.min.js"></script>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data", @class = "dropzone", id = "dropzoneForm"}))
{
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
}
